

nav {
    
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mycontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-left: 10%;
    padding-right:auto;
    background-color:#926F47;
    white-space: nowrap;
     
}
nav .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px; 
}
body {
    font-family: Arial, sans-serif;
    background-color:#f6f6e9 ;
    color: #333;
    line-height: 1.6;
}


.image {
    width: 500px; 
    height: 500px; 
}


nav figure img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

nav figure figcaption {
    text-align: center;
    margin-top: 5px;
}
footer {
    background-color: #7d5b2f;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.panier{
    width: 70px;
    height: auto; 
    margin-left: 100px;
 }
 .link{
    font-size: 20px;
    color:beige;
    margin-right: 80px;
}
audio {
    display: none;

}